#app {
  min-inline-size: 230px;
}

.header-bar {
  block-size: 50px;
  background-color: #dc143c;
}

.participants {
  font-size: 20px;
}

.participant .expandable {
  max-block-size: 200px;
}

.participant .expandable.expanded {
  max-block-size: none;
}

.participant img.hero {
  inline-size: 200px;
  block-size: 200px;
}

.participant .name {
  font-size: 24px;
  font-weight: bold;
  margin-block: 10px;
}



